{% extends 'base.html' %}

{% block links %}
{#  {{ js_resources|indent(4)|safe }}#}
{#  {{ css_resources|indent(4)|safe }}#}
{#  {{ plot_script|indent(4)|safe }}#}

{% endblock %}

{% block header %}
  <h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}

  <ul class="nav justify-content-center" style="background-color: #D82148">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('dashboard.brands') }}">Brands</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('dashboard.categories') }}">Categories</a>
    </li>
{#    <li class="nav-item">#}
{#      <a class="nav-link" href="#">Popular</a>#}
{#    </li>#}
      <li class="nav-item">
      <a class="nav-link" href="{{ url_for('dashboard.products') }}">Products</a>
    </li>
  </ul>

  <div class="container-fluid flex">
    <div class="p-4 d-flex mx-auto mt-4 justify-content-center">

{#      {{ plot_div|indent(4)|safe }}#}

    </div>
  </div>


{% endblock %}