{% extends 'base.html' %}

{% block links %}

{% endblock %}

{% block header %}
  <h1>{% block title %}Brands{% endblock %}</h1>
{% endblock %}

{% block content %}

  <ul class="nav justify-content-center" style="background-color: #D82148">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('dashboard.brands') }}">Brands</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('dashboard.categories') }}">Categories</a>
    </li>
    {#    <li class="nav-item">#}
    {#      <a class="nav-link" href="#">Popular</a>#}
    {#    </li>#}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('dashboard.products') }}">Products</a>
    </li>
  </ul>


  <div class="container-fluid flex" style="background-color: #78938A;color: white">



    Showing {{ brands|length }} out of {{ total_count }} brands
    <br>
    Page: {{ page }} out of {{ (total_count / rows_per_page)|round(0, 'ceil')|int }}

    <br>

    {% if page > 1 %}

      <a class="btn btn-primary" href="{{ url_for('dashboard.brands', page=page-1) }}">Previous</a>
    {% endif %}

    {% if page < (total_count / rows_per_page)|round(0, 'ceil')|int %}
      <a class="btn btn-primary" href="{{ url_for('dashboard.brands', page=page+1) }}" class="button">Next</a>
    {% endif %}

    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">Brand</th>
          <th scope="col">Products count</th>
        </tr>
      </thead>
      <tbody>
        {% for brand in brands %}
          <tr>
            <td>{{ brand.name }}</td>
            <td>{{ brand.products|length }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if page > 1 %}

      <a class="btn btn-primary" href="{{ url_for('dashboard.brands', page=page-1) }}">Previous</a>
    {% endif %}

    {% if page < (total_count / rows_per_page)|round(0, 'ceil')|int %}
      <a class="btn btn-primary" href="{{ url_for('dashboard.brands', page=page+1) }}">Next</a>
    {% endif %}

    <br>
    <br>
  </div>


{% endblock %}