{% extends 'base.html' %}

{% block links %}

{% endblock %}

{% block header %}
  <h1>{% block title %}Categories{% endblock %}</h1>
{% endblock %}

{% block content %}

  <ul class="nav justify-content-center" style="background-color: #D82148">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('dashboard.brands') }}">Brands</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('dashboard.categories') }}">Categories</a>
    </li>
{#    <li class="nav-item">#}
{#      <a class="nav-link" href="#">Popular</a>#}
{#    </li>#}
        <li class="nav-item">
      <a class="nav-link" href="{{ url_for('dashboard.products') }}">Products</a>
    </li>
  </ul>

  <ul class="nav justify-content-center" style="background-color: #388051">
    {% for category in categories %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('dashboard.categories', id=category.id) }}">{{ category.name }}</a>
      </li>
    {% endfor %}

  </ul>

  <div class="container-fluid flex" style="background-color: #78938A;color: white">

  </div>


{% endblock %}