{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New employee{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="flex p-4 m-6 justify-center">
    <form class="mx-auto mt-5" method="POST">
      <div class="form-floating mb-3">
        <input
            class="form-control"
            id="username" name="username" type="text" placeholder="username">
        <label for="username">
          Username
        </label>
      </div>
      <div class="form-floating mb-3">
        <input
            class="form-control"
            id="password" name="password" type="password" placeholder="password">
        <label for="password">
          Password
        </label>
      </div>
      <div class="form-floating mb-3">
        <input
            class="form-control"
            id="confirm-password" name="confirm-password" type="password" placeholder="confirm password">
        <label for="confirm-password">
          Confirm password
        </label>
      </div>
      <div class="form-floating mb-3">
        <input
            class="form-control"
            id="first-name" name="first-name" type="text" placeholder="first name">
        <label for="first-name">
          First name
        </label>
      </div>
      <div class="form-floating mb-3">
        <input
            class="form-control"
            id="last-name" name="last-name" type="text" placeholder="last name">
        <label for="last-name">
          Last name
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="coordinator" name="position" value="coordinator">
        <label class="form-check-label" for="coordinator">coordinator</label>
      </div>
      <div class="form-check">
        <input checked type="radio" class="form-check-input" id="analyst" name="position" value="analyst">
        <label class="form-check-label" for="analyst">analyst</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" id="unauthorized" name="position" value="unauthorized">
        <label class="form-check-label" for="unauthorized">unauthorized</label>
      </div>
      <button type="submit"
              class="btn btn-secondary">
        Add an employee
      </button>
    </form>
  </div>
{% endblock %}